<header>
    <div class="container">
        <a href="/">
            <img src="https://i.imgur.com/yTGzq23.png" alt="Paradise Luxury Homes Logo" class="logo">
        </a>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/luxuryproperties">Propiedades de Lujo</a></li>            
                <li><a href="/map">Mapa Interactivo</a></li> <!-- Ruta relativa -->
                <li><a href="/reviews">Reseñas</a></li>
                <li><a href="/contact">Contacto</a></li>   
                <li id="loginMenu"><a href="/login">Login</a></li>
            </ul>
        </nav>
        
    </div>
    <script src="/js/auth.js"></script>

</header>
